@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6b2627;
  --color-secondary: white;
  --color-tertiary: #c2c2c2;
}
html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*HomePage Intro*/

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headings);
  margin: 0;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
p {
  margin: 0;
  font-size: 1.6rem;
}
.sekcia,
.sekcia__main {
  background-color: var(--color-primary);
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  color: var(--color-secondary);
  align-items: center;
}
.sekcia__sluzby {
  background-color: var(--color-primary);
  background-color: var(--color-primary);
  justify-content: center;
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  color: var(--color-secondary);
  align-items: center;
}
.max-width {
  max-width: 1140px;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

.link-arrow {
  font-size: 1.5rem;
}
.link-arrow::after {
  content: url("/biela_sipka_prava.svg");
  margin-left: 5px;
  transition: margin 0.15s;
  transform: scale(0.7);
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

/*Uvod*/

.uvod {
  width: 100%;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  justify-content: space-between;
}
.uvod h1 {
  margin: 0;
  font-size: 5rem;
}
.text-center {
  text-align: center;
}
.uvod__centered {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}
.uvod__spodok {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  position: relative;
}
.uvod__spodok__cast {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info__socials {
  color: white;
  display: none;
  gap: 1rem;
}
.text-decoration {
  text-decoration: underline;
  color: white;
}
.img__text {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.img__text img {
  width: 17px;
}
.img__text:nth-child(3) img {
  height: 20px;
}
.addition__add {
  padding: 1.6rem;
}
@media screen and (min-width: 768px) {
  .info__socials {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
  }
  .uvod {
    padding: 0rem;
    height: 100vh;
  }
  .uvod__centered {
    margin-top: 0vh;
  }
  .uvod__spodok {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
  }
  .uvod h1 {
    font-size: 6rem;
  }
  .addition {
    margin-top: 1rem;
  }
  .addition__add {
    padding: 0rem;
  }
}

/*Obrazky*/
.background-image {
  position: absolute;
  min-height: 100vh;
  object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-position: 60% 25%;
  background-image: url("/skuska_new.jpg");
  background-size: cover;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.33); /* Adjust opacity as needed */
}

/* Navigation Bar*/

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 1rem 2rem;
}
.nav img {
  width: 50px;
}
.nav__socials {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  gap: 1.5rem;
}
.nav__socials img {
  width: 30px;
}
.nav__item > a {
  color: white;
  position: relative; /* Required for positioning the pseudo-element */
  transition: color 0.2s ease-in; /* Transition color change */
}
.img__nav img {
  width: 30px;
}

.nav__item > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-image: linear-gradient(
    to right,
    white,
    white
  ); /* Gradient background */
  background-size: 100% 2px; /* Make the gradient 100% wide and 2px high */
  background-repeat: no-repeat;
  transition: width 0.2s ease-in; /* Transition the width */
}

.nav__item > a:hover::before {
  width: 100%; /* Expand the underline to 100% width on hover */
}

.nav__toggler {
  opacity: 0.85;
  transition: box-shadow 0.15s;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}
/* Style the close button */
.nav__close-button {
  fill: white;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 2px;
  width: 30px;
  height: 30px;
}
.hamburger {
  width: 25px !important;
}
.collapsible--expanded {
  max-height: 100vh;
  opacity: 100;
  position: fixed;
  top: 0;
  right: 0%;
  width: 76%;
  height: 100%;
  background-color: #151515;
  transition: right 0.3s ease-in;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.collapsible__content {
  background: #000;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  /*opacity: 0;-*/
  right: -100%;
}
@media screen and (min-width: 768px) {
  .nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
  }
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav img {
    margin-top: 0rem;
  }
  .img__nav {
    display: none;
  }
  .nav__item {
    border: 0;
  }
  .collapsible__content {
    background-color: inherit;
    margin-right: 2rem;
  }
  .nav__close-button {
    display: none;
  }
  .nav__socials {
    display: none;
  }
}

/*Buttons*/
.btn {
  gap: 1rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
  font-size: 1.6rem;
  margin: 1rem 0;
  outline: 0;
  padding: 1.3rem 1vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  min-width: 15rem;
  justify-content: center;
  display: flex;
}
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.btn--primary {
  background: var(--color-primary);
  color: var(--color-secondary);
}
.btn--primary:hover {
  background: #3d0d0e;
  color: white;
}
.btn--secondary {
  background: var(--color-secondary);
  color: black;
}
.btn--secondary:hover {
  background: #ededeb;
  color: black;
}
.btns-together {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .btns-together {
    flex-direction: row;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.4rem;
  }
}

/*Footer*/
.black-bg {
  background-color: #151515;
  width: 100%;
}
.footer {
  width: 100%;

  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  gap: 2rem;
}
.footer a,
.footer p {
  color: rgba(194, 194, 194, 0.7);
}
.footer a:hover,
.footer p:hover {
  color: white;
}
.footer__second {
  display: flex;
  flex-direction: column;
  color: var(--color-tertiary);
  gap: 1rem;
}
.footer__second h4 {
  color: white;
  text-decoration: underline;
  /* font-weight: 100; */
  font-size: 2rem;
  margin: 0;
}
.footer__second img {
  width: 20px;
}
.footer__first img {
  max-width: 108px;
  max-height: 130px;
  object-fit: contain;
}
.img__text {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.socials {
  display: Flex;
  flex-direction: row;
  gap: 1rem;
  align-items: baseline;
  margin-top: 1rem;
  cursor: pointer;
}
.socials img {
  width: 30px;
}
.copyright {
  background-color: #151515;
  color: rgba(194, 194, 194, 0.7);
  text-align: center;
  border-top: 0.05rem solid rgba(194, 194, 194, 0.5);
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  }
  .socials {
    justify-content: center;
  }
}

/*Success --odoslanie spravy*/
.success_container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: #6b2627;
  padding: 1rem;
  text-align: center;
}
.full_width {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .full_width {
    width: 200px;
  }
}

/*Article */

.cerveny_container {
  width: 100%;
  display: flex;
  background-color: #6b2627;
  justify-content: center;
  flex-direction: column;
}
.cierny_container {
  max-width: 1024px;
  padding: 3rem 3rem;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.25);
  margin-top: 0.5rem;
}
.cierny_container_spolu img {
  width: 50%;
  float: left;
  max-height: 343px;
  object-fit: contain;
  border-radius: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 0.8rem;
}
.cierny_container_lava,
.cierny_container_prava {
  width: 50%;
}
.cierny_container_lava img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}
.cierny_container_zbytok {
  width: 100%;
}
.text {
  color: white;
}
.autori {
  text-align: right;
}
.biela {
  color: white;
}
b {
  font-weight: 600;
}
.oznam_parametre {
  width: 95%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.biela_plocha {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3rem;
  align-items: center;
  padding: 1.5rem 4rem;
  margin-top: 3rem;
  width: 800px;
  text-align: center;
}
.biela_plocha h2 {
  color: #6b2627;
  font-family: "Axis";
  font-weight: bolder;
}
.biela_plocha p {
  color: black;
  font-weight: 700;
}

.obrazok_oznam {
  display: flex;
  justify-content: center;
}
.obrazok_oznam img {
  width: 500px;
}
.cesta {
  border-bottom: 0.5px solid #d9d9d9;
  border-top: 0.5px solid #d9d9d9;
  padding: 1.5rem 4rem;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cesta a {
  color: white;
  transition: 0.1s ease-in;
}
.cesta a:hover {
  color: #d9d9d9;
}
.cesta_sipka {
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}
.info_clanok {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: white;
}
.cas,
.publikacia {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.sekcia_1024 {
  min-width: 1024px;
}

.ine_napady {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

.button {
  display: flex;
  border: none;
  line-height: 114%;
  /* identical to box height, or 29px */
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-family: "Axis";
  /*padding: 1rem 3rem;*/
  width: 15rem;
  height: 3rem;
}
#rezervacia {
  background-color: #6b2627;
  color: white;
}

@media only screen and (max-width: 1024px) {
  /* Tablet version */
  .sekcia_1024 {
    min-width: fit-content;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* Mobile version */
  .cierny_container {
    padding: 1.6rem;
    width: 100%;
  }
  .cierny_container_spolu {
    flex-direction: column;
  }
  .cierny_container_spolu img {
    width: 100%;
  }
  .cesta {
    padding: 1.6rem;
  }
  .info_clanok {
    flex-direction: column;
    gap: 0rem;
  }
  .obrazok_oznam img {
    width: 300px;
  }
  .biela_plocha {
    width: auto;
    padding: 1rem;
  }
  .oznam_parametre {
    width: 100%;
  }
}

/*Sutaz*/
.sutaz__nadpis {
  margin-bottom: 1rem;
  text-align: center;
}
.photos {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 column */
  grid-gap: 10px; /* Adjust the gap between columns as needed */
  margin-top: 1rem;
}
.photos img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: 0.1s ease-in;
}
@media only screen and (min-width: 768px) {
  .photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 10px; /* Adjust the gap between columns as needed */
  }
  .photos img:hover {
    transform: scale(1.03);
    /* Add any other desired styles for the hover state */
  }
}
@media only screen and (min-width: 1024px) {
  .photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 10px; /* Adjust the gap between columns as needed */
  }
}

/*Gallery*/
.popup-gallery {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 17px;
  font-size: 5rem;
  cursor: pointer;
  color: black;
  font-family: serif;
  transition: 0.1s ease-in-out;
}
.prev-button,
.next-button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #6b2627;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
}
.prev-button:hover,
.next-button:hover {
  background: #3d0d0e;
}

/*Zaver */
.end-transition {
  justify-content: center;
  display: flex;
  padding: 0 1rem;
  background: linear-gradient(180deg, #6b2627 0%, #151515 100%);
}
.end-transition img {
  height: auto;
  object-fit: contain;
  max-width: 285px;
}
.together__oddiel {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}
.second {
  text-align: center;
  align-items: center;
  order: 1;
}
.together {
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom: 0.2rem solid rgba(194, 194, 194, 0.5);
  justify-content: center;
}
.together h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .together {
    flex-direction: row;
    width: 85%;
  }
  .second {
    text-align: left;
    align-items: flex-start;
    max-width: 500px;
    order: 2;
  }
  .first {
    align-items: flex-end !important;
  }
  .together__oddiel {
    align-items: flex-start;
    width: 50%;
  }
  .together h2 {
    max-width: 400px;
  }
  .end-transition img {
    max-width: 357px;
  }
}

/*Slider*/
.flexible_width {
  max-width: 1024px;
  width: 100%;
}

.cierny_obdlznik {
  flex: 0 0 100%;
  background-color: #151515;
  padding: 1.6rem;
  border-radius: 1rem;
  height: fit-content;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.cierny_obdlznik p {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.cierny_obdlznik h3 {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cierny_obdlznik img {
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  max-height: 214px;
}
.citat_viac {
  display: Flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in;
  margin-bottom: -0.5rem;
}
.citat_viac h3 {
  margin-bottom: 0rem;
  font-size: 2rem;
}
.citat_viac::after {
  content: url("/sipka_bokom.svg");
  transform: scale(0.7);
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  transition: margin 0.15s;
}
.citat_viac:hover::after {
  margin-left: 10px;
}
.seda_07 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color-tertiary);
}
.seda_07 p {
  color: var(--color-tertiary) !important;
}
.navigation__arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.arrow.left,
.arrow.right {
  height: 3rem;
  width: 3rem;
  background-color: #151515;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.arrow:hover {
  background-color: black;
}
.arrow img {
  width: 15px;
}
.swiper-pagination-bullet-active {
  background: var(--color-secondary) !important;
}

@media screen and (min-width: 768px) {
  .cierny_obdlznik {
    flex: 0 0 calc(50% - 0.8rem);
  }
}
@media screen and (min-width: 1024px) {
  .cierny_obdlznik {
    flex: 0 0 calc(33.33% - 0.99rem);
  }
}

/*Pasik s logom*/
.strip {
  width: 100%;
  background: linear-gradient(180deg, #151515 0%, #6b2627 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.logo__section img,
.logo__section__cennik img,
.logo__section__rady img {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
}
.logo__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.logo__section__rady {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.logo__section__cennik {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
}
.logo__section p,
.logo__section__rady p {
  color: var(--color-tertiary);
  max-width: 500px;
  text-align: center;
  font-size: 1.4rem;
}
.logo__section h2 {
  text-align: center;
}

/*Charaketistika o destilatoch */
.sekcia__charakteristika {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.added__check::before {
  content: url("/biela_fajka.svg");
  margin-right: 1rem;
  transform: scale(0.7);
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .logo__section {
    margin-top: 4rem;
  }
  .sekcia {
    padding: 4rem;
  }
  .sekcia__sluzby {
    padding: 0rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .sekcia__charakteristika {
    flex-direction: row;
    gap: 2rem;
    max-width: 800px;
  }
  .logo__section__rady {
    margin-top: 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .sekcia__charakteristika {
    gap: 5rem;
  }
}

/*Skupina obrazkov*/

.skupina_obrazkov {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .skupina_obrazkov {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 1556px) {
  .skupina_obrazkov {
    margin-top: 13rem;
    margin-bottom: 13rem;
  }
}

.theme_img,
.themee_img {
  width: 100%;
  height: 247px;
  cursor: pointer;
  object-fit: cover;
}
.article_img_one_photo {
  width: 100% !important;
  object-fit: cover !important;
  max-height: fit-content !important;
  height: 100% !important;
}
.autori {
  text-align: right;
}

/*Custom gallery*/

.custom-gallery-container,
.custom-gallery-image {
  display: none;
}
@media (min-width: 768px) {
  .custom-gallery-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .custom-gallery-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    z-index: 90;
  }

  .custom-gallery {
    height: 100%;
    width: 80vw;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .custom-gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .custom-gallery-close {
    position: fixed;
    top: 10px;
    right: 48px;
    cursor: pointer;
  }
  .arrow-space {
    margin: auto;
    padding: 1rem;
  }
  .article_img_one_photo {
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }
  .theme_img,
  .themee_img {
    width: 100%;
    height: fit-content;
    cursor: pointer;
    object-fit: cover;
  }
}

/*Cennik */

.black-container {
  display: flex;
  flex-direction: column;
  background-color: #151515;
  box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 2rem 4rem;
  align-items: center;
  margin-bottom: 1rem;

  width: 100%;
}
.black-container h5 {
  color: var(--color-tertiary);
  text-align: center;
  font-size: 1.5rem;
}
.black-container h2 {
  font-size: 5rem;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}
.circle img {
  width: 50%;
  object-fit: contain;
}
.oddiel {
  flex-direction: column;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.oddiel__clenenie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.oddiel-first {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.15rem solid #d9d9d9;
  width: 100%;
  padding-bottom: 1rem;
}

.oddiel h4 {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .black-container {
    flex-direction: row;
    width: fit-content;
    width: 600px;
    padding: 4rem;
  }
  .oddiel,
  .oddiel-first {
    width: 100%;
    border: 0px;
    margin-top: 0rem;
  }
  .oddiel {
    border-left: 0.15rem solid #d9d9d9;
    padding-left: 4rem;
  }
  .oddiel-first {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .black-container {
    width: 800px;
  }
}

/*Galeria*/
.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  margin-bottom: 1rem;
  max-width: 1024px;
  width: 100%;
}

.gallery p {
  z-index: 5;
}
.gallery_obdlznik {
  position: relative;
  height: 50px;
  background: linear-gradient(
    112.67deg,
    #151515 -0.6%,
    rgba(21, 21, 21, 0.93) 100%
  );
  border-radius: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 1s ease-in;
}
.gallery_obdlznik:hover {
  background: linear-gradient(
    112.67deg,
    rgba(18, 17, 17, 1) 10%,
    /* Adjust the gray color here */ rgba(18, 17, 17, 1) 10%
      /* Adjust the gray color here */
  );
}
.gallery_obdlznik img {
  position: absolute;
  width: 50%;
  height: 50%;
  object-fit: contain;
}
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
  }
  .gallery_obdlznik {
    height: 23rem;
  }
  .gallery_3 {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .gallery {
    width: fit-content;
    min-width: 800px;
  }
}

/*Formular*/

.container_formular {
  display: flex;
  background-color: #6b2627;
  width: 100%;
  flex-direction: column;
}

.container_formular_left {
  background-color: #151515;
  border-radius: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 22px 2px rgba(0, 0, 0, 0.25);
}
.container_formular_right {
  display: flex;
  flex-direction: column;
  /*padding: 2.5rem 2.5rem;*/
  width: 100%;
  margin: auto;
}
.container_formular_right h2 {
  text-align: center !important;
  font-size: 3rem;
}
.container_formular_spolu {
  gap: 4.5rem;
  display: flex;
  flex-direction: column;
}
.container_formular_spolu h2 {
  text-align: center;
}
.space_between {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.referencie-carousel {
  position: relative;
  overflow: hidden;
  height: 180px; /* Set your preferred height */
}
.referencie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
  padding: 2rem;
}

.referencie.active {
  opacity: 1;
}
.swiper-slide p {
  color: black;
  margin-bottom: 1.5rem;
}
.referencie_box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.referencie_box img {
  width: 50px;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
}

.meno_povolanie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}
.meno_povolanie p {
  margin-bottom: 0rem;
  color: black;
}

label {
  font-size: 1.6rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
/* Apply CSS reset to remove default styles */
input[type="text"],
input[type="date"],
input[type="time"],
select {
  padding: 0;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  color: inherit;
  display: block;
  width: 100%;
  /* min-height: 2.2em;*/
  min-height: 2.5rem;
  outline: none;
  font-weight: 200;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Optional styling to add consistent visual appearance */
input[type="text"],
input[type="date"],
input[type="time"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
}

.formular_dvojica {
  display: Flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
}
.label_input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label_input2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
textarea {
  padding: 10px;
  border: none;
  box-sizing: border-box;
  background-color: white;
  color: black;
  display: block;
  width: 100%;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  outline: none;
  border-radius: 0.3rem;
  resize: none;
  margin-bottom: 1rem;
}
#error-message {
  color: white;
  margin-top: 0.5rem;
  text-align: center;
}
.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  gap: 0.5rem;
}
.dot {
  background-color: #d9d9d9;
  opacity: 30%;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}
.dot.active {
  background-color: white;
  opacity: 100%;
}
.spolu {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.pc {
  display: none;
  color: #c2c2c2;
  width: 70%;
  font-size: 2rem;
  opacity: 50%;
  margin-top: 5rem;
}
.mobile {
  display: flex;
  color: #c2c2c2;
  font-size: 2rem;
  opacity: 50%;
  text-align: center;
  margin-bottom: 1rem;
}
.container_formular_right h2 {
  text-align: center;
}
.checkbox_text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.checkbox_text label {
  margin: 0;
}
.checkbox_text a {
  color: white;
  text-decoration: underline;
}
#spinner {
  display: none;
  width: 21px;
}
.button img {
  width: 22px;
  right: 20px;
  position: absolute;
  display: none;
}
.container_sekcia {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*tablet*/
@media only screen and (min-width: 768px) {
  .cesta {
    /*margin-top: 1rem;*/
    padding: 1.5rem 4rem;
  }

  .space_between {
    padding: 0 3rem;
  }
  .container_sekcia {
    flex-direction: row;
    padding: 0 1rem;
    gap: 2rem;
    max-width: 1024px;
  }
  .container_formular_left,
  .container_formular_right {
    width: 45%;
  }
  .formular_dvojica {
    flex-direction: row;
    gap: 1rem;
  }
  .referencie-carousel {
    height: 150px;
  }
  .spolu {
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .container_formular h2 {
    text-align: left;
  }

  .cierny_container_formular {
    min-width: 0px;
    max-width: none;
    width: 100%;
    padding: 1rem 1rem;
  }

  .container_formular_left {
    order: 1;
  }

  .container_formular_right {
    order: 2;
  }
  .container_formular_spolu {
    padding: 1rem 0rem;
    gap: 0rem;
  }
  .pc {
    display: flex;
  }
  .space_between {
    padding: 0 6rem;
  }
  .mobile {
    display: none;
  }
  .container_sekcia {
    gap: 12rem;
  }
}
.mySwiper {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.mySwiper .swiper-slide {
  padding: 2rem;
}

.wrapperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
}

.koniec_pasik,
.uvod_pasik {
  display: flex;
  flex-direction: row;
  width: 85%;
  background-color: #fff;
}
.koniec_pasik {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  justify-content: center;
  color: #000;
  text-align: center;
  padding: 0.5rem;
}

.uvod_pasik {
  height: 10%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  color: black;
  align-items: center;
}
.uvod_pasik_circle {
  background-color: #6b2627;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.uvod_pasik_circle img {
  height: 100%;
  width: 60%;
  object-fit: contain;
}

.uvod_pasik_left,
.uvod_pasik_right {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.uvod_pasik_meno_datum {
  display: Flex;
  flex-direction: column;
}
.uvod_pasik_meno {
  font-family: fangsong;
  font-weight: 700;
}

.photo-dialog-container {
  background-color: #fff;
  width: 85%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-container {
  text-align: center;
  height: 100%;
  padding: 0 1rem;
}
.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.skeleton_picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.next,
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  text-decoration: none;
  color: #d1d1d1;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.next {
  right: 0px;
}
.prev {
  left: 0px;
}

.close {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 3rem;
  cursor: pointer;
  color: #d1d1d1;
  font-family: serif;
  transition: 0.3s ease-in-out;
}

.stiahnut {
  min-width: fit-content;
  padding: 0.5rem !important;
}

@media only screen and (min-width: 768px) {
  .next {
    right: 23px;
  }
  .prev {
    left: 23px;
  }
  .close {
    top: 0;
    right: 17px;
  }
}
